/* src/components/UserPage.css */
.user-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .user-info {
    font-size: 1.25rem;
    color: #555;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .posts-container {
    padding: 1rem;
  }
  
  .posts-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .post:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .post-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .post-body {
    font-size: 1rem;
    color: #555;
  }
  
  .nav-buttons {
    position: sticky;
    top: 0;
    background-color: #fff; /* Set a consistent background color */
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  .nav-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #0056b3;
  }